.row{
    padding-right: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
}


.test{
    width: 70%;
    margin: auto;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.main{
    padding: 30px;
}

button{
    float: right;
}