<div style="margin: auto; width: 80%;">
    <div class="time-container">
        <div class="timer">
            Time Remaining:{{ getFormattedTime() }}
        </div>

    </div>
    <form (ngSubmit)="submitAnswers()">
        <div class="question" *ngFor="let question of questions">
            <h3>{{ question.questionText }}</h3>
            <div>
                <label>
                    <input type="radio" name="question{{ question.id }}" (change)="onAnswersChange(question.id, question.optionA)" />
                    {{ question.optionA }}
                </label>
            </div>

            <div>
                <label>
                    <input type="radio" name="question{{ question.id }}" (change)="onAnswersChange(question.id, question.optionB)"/>
                    {{ question.optionB }}
                </label>
            </div>

            <div>
                <label>
                    <input type="radio" name="question{{ question.id }}" (change)="onAnswersChange(question.id, question.optionC)"/>
                    {{ question.optionC }}
                </label>
            </div>


            <div>
                <label>
                    <input type="radio" name="question{{ question.id }}" (change)="onAnswersChange(question.id, question.optionD)"/>
                    {{ question.optionD }}
                </label>
            </div>
        </div>
            <div style="margin-top:20px; margin-bottom:20px; float: right;">
                <button style="margin-bottom : 20px;" nz-button nzType="primary" type="submit">Submit Answers</button>
            
        </div>
    </form>
</div>